body {
    margin: 5px 5px;
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--foreground);
    background-color: var(--background);
    min-width: 575px;

    border: 5px;
    border-style: solid;
    border-color: red;
  }

  .content {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0;

    border: 5px;
    border-style: solid;
    border-color: red;

  }

  header {

    border: 5px;
    border-color: green;
    border-style: solid;
  }
  nav {

    border: 5px;
    border-color: orange;
    border-style: solid;
  }
  ul {

    border: 5px;
    border-color: yellow;
    border-style: solid;
  }
  li {

    border: 5px;
    border-color: blue;
    border-style: solid;
  }
  h1 {

    border: 5px;
    border-color: red;
    border-style: solid;
  }
  div {

    border: 5px;
    border-color: green;
    border-style: solid;
  }


nav ul {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    min-width: 300px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 2px;
  }

nav p {
    display: inline;
    font-weight: bold;
    padding: 2px;
}

h1 {
    text-align: center;
    margin: 50px 0;
    width: 100%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    width: 50%;
}
  
.instructions {
    text-align: center;
    font-size: 24px;

    border: 3px;
    border-style: solid;
    border-color: yellow;

}

.start {
    align-self: center;
    margin: 10px 10px;
    padding: 5px;

    border: 3px;
    border-style: solid;
    border-color: orange;

}


  /* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    h1 {
      text-align: center;
      margin: 50px 0;
      width: 100%;
    }
  
  }
    
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
  
    h1 {
      text-align: center;
      margin: 50px 50px;
      width: 75%;
   }
  
  }